body {
    background-image: linear-gradient(90deg, lightblue, skyblue, dodgerblue);
    color: white;
}

html, body {
    height: 100%;
}

button, #main_div, input {
    box-shadow: 4px 4px 4px gray;
}

#Header {
    color: rgb(168, 31, 31);
    font-weight: 600;
}

#Welcome {
    font-size: 32px;
}

#main_div {
    margin-top: 150px;
    height: 65vh;
    background: skyblue;
    border-radius: 20px;
    border: 2px ridge dodgerblue;
}

#Semiheader {
    padding-top: 10px;
}

#answer {
    color: black;
    padding: 0px;
}

#remainder {
    padding: 0px;
}

.btn-secondary {
    background-color: darkgray;
    align-self: left;
    color: white;
}

.btn-secondary:hover {
    color: white;
}

input {
    color: black;
}

#next_button {
    display: none;
}

#timer {
    width: 50px;
    height: 50px;
}

#piechart {
    height: 180px;
}

#buttons {
    align-content: center;
}