body {
    background: lightblue;
    color: white;
}

label {
    font-size: 20px;
    text-align: center;
}

option {
    color: black;
}

button {
    box-shadow: 4px 4px 4px gray;
}

a {
    margin-bottom: 100px;
}

#First_div {
    height: 110%;
    width: 50%;
    background: dodgerblue;
    text-align: center;
    float: left;
}

#First_div img {
    width: 250;
    height: 250;
    margin-top: 150px;
}

#Second_div {
    float: right;
    text-align: center;
    width: 50%;
}

#gradelabel {
    margin-top: 75px;
}

.form-control {
    box-shadow: 4px 4px 4px gray;
    width: 250px;
    color: black;
}

#error {
    color: red;
}

.sign {
    margin-top: 20px;
    font-size: 25px;
}
